*{
  box-sizing: border-box;
}
::selection {
  color: black;
  background-color: #0ABFBC;
}

h1,p,a,h3,h2,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
/* Nav */
#logo{
font-family: 'Oswald', sans-serif;
font-size: 20px;
  margin-right: 35px;

}
#myTopnav{
  background-color: black;
  height: 64px;
}
.inside_nav{
  width: 1140px;
  margin: 0 auto;
}
.inside_nav a{
  color: white;
  margin-top: 15px;
}
.topnav .icon {
  display: none;
}

.topnav a.logo {
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

#content_nav{
  width: 100vw;
  height: 81px;
  padding-top: 18px;
  position: fixed relative;
  background-color:white;
  overflow: hidden;
}

#top_menu{
  width: 1140px;
}
#top_menu a{
  color: black;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
/* FIN Nav */

#cover{
  width: 100vw;
  height: 700px;
  margin: 0;
  overflow: hidden;
}
#profil{
  width: 1140px;
  margin: 0 auto;

}
#identity{
  position: relative;
  top: -270px;
  z-index: 30;
  right: -480px;
  color: black;
  width: 100vw;
  display: inline;
}
#identity_function{
  position: relative;
  top: -275px;
  z-index: 30;
  right: -550px;
  color: black;
  width: 100vw;
  display: inline;
  margin: 0;
}
#btn_portfoliot{
  margin-top: 20px;
  position: relative;
  top: -221px;
  z-index: 30;
  right: -600px;
  color: white;
  background-color: #476336;
  font-weight: bold;
  padding: 10px;
  display: inline;
}
#front_bulletin{
  width: 100vw;
  height: 600px;
  background: #2828288c;
  top: 100px;
  margin: 0;
}

#bulletin_back{
  width: 100vw;
  height: 600px;
  margin: 0;
  position: relative;

  z-index: -10;
}
#content_myself a{
  font-size: 16px;
  color: black;
}
#content_myself span{
  font-weight: bold;
}
.content_avatar{

}
#avatar{
  width: 23rem;
  overflow: hidden;

}
#white_back1{
  background-color: white;
  width: 100vw;
  height: 800px;
  margin: 0;
}
#white_back2{
  background-color: white;
  width: 100vw;
  height: 1500px;
  margin: 0;
}
#fristplan1{

  z-index: 50;
  background-color: white;
  height: 800px;
  width: 100vw;
}
#fristplan1 h1 h5 p{
  margin-top: 700px;
  z-index: 50;
  top: -450px;
  right: -600px;
  height: 800px;
  width: 100vw;
}
#bulletin_back{
  width: 100vw;
  height: 400px;
  margin: 0;
}
#bulletin_back0{
  width: 100vw;
  height: 400px;
  background-image: linear-gradient( 45deg,#7474bfc7, #0ABFBC);
  margin:0;
}
/*Compétences*/
#content_skill{
  color: white;
  position: relative;
  top: -320px;
  z-index: 30;
  right: 10px;
  width: 100vw;
  margin:0;
}
#content_skill2{
  width: 1170px;
}


/*Compétences*/

/*PARCOURS*/
#content_course{
  height: 1400px;
  width: 100vw;
  margin: 0;
}

#content_course ul {
  list-style:none;

}

#head_course{
  width: 1170px;
  margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

/*PARCOURS*/


/*COMPETENCE*/
#content_degree{
  width: 100vw;
  margin: 0;
}


#degree2{
  margin-top: 210px;
  z-index: 5;
}
#degree3{

  z-index: 5;
}
#degree4{
  margin-top: 190px;
  z-index: 5;
}
#degree5{
  z-index: 5;
}

#degree6{
  margin-top: 180px;
  z-index: 5;
}

#inside_content_degree{
  width: 1170px;
  margin: 0 auto;
}
/*COMPETENCE*/

/*CONTENT ICON*/
.content_icon{
  width: 100vw;
  height: 20vh;
}
#inside_content_icon{
  width: 1170px;
}
/*FIN CONTENT ICON*/


#contact{
  width: 100vw;
}
#content_services{
  height: 300px;
}
#content_contact{
  width: 100vw;
  height: 150px;
  padding: 30px;
  background: linear-gradient(45deg,#0ABFBC,#7474BF);
  margin: 0;
}
#inside_content_contact{
  align-items: center;
  justify-content: center;
  display: flex;
  border: 14px;
  width: 1170px;
  margin:0 auto;
}
#content_map{
  background-color: #212529;
  margin-top: 10px;
  border: 14px;
  width: 100vw;
  margin: 0;
}
#inside_content_map{
  width: 1170px;
  height: 600px;
  margin:0 auto;
}
#form_contact span{
font-size: 15px;
}
#erreur{
  color: red;
}
#head_form strong{
  margin-bottom: 40px;
  display: inline-block;
}
#map{
  width: 545px;
  height: 350px;
}

/*Cursseur*/
#upload{
  width: 100vw;
}
#arrow{
  float: right;
  background-color: #0ABFBC;
  width: 40px;
  padding: 9px;
}
#inside_arrow{
  width: 30px;
}

/*background-color: #68c3a3;
width: 28px;
position: relative;
top: -3750px;
height: 28px;
float: right;
margin-right: 10px;
margin-bottom:25px ;*/
}
